#my_photo{
    border-radius: 50%;
}

.lead{
    text-align: justify;
}

.dummy{
    height: 45px;
}

@media (max-width:992px){
    .dummy{
        display: none;
    }
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.project-section {
    padding: 20px;
    border-radius: 8px;
}

.project-one {
    background-color: #1a141413; /* Light gray background */
}
.project-two {
    background-color: #3e3d3d13; /* Light gray background */
}